<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>National Geographic Concept Design</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="glass">
    <div class="container">
      <div class="ngLogo"></div>
      <div class="userLogin">
        <h1>Member Sign In</h1>
        <p>Please enter your email and<br>password in the fields.</p>
        <button id="btn1">CONNECT WITH FACEBOOK</button>
        <form>
          <input type="email" name="email" placeholder="Email"><br>
          <input type="password" name="Password" placeholder="Password">
        </form>
        <p class="link">Forgot your password?</p>

        <button id="btn2">SIGN IN</button>
      </div>
    </div>
  </div>
  
  
</body>
</html>