<nav>
  <div id="logoContainer">
    <a href="/"><img src="/resources/nglogo.png"></a>
  </div>
  <div id="searchBar">
    <i class="fa fa-lg fa-search" aria-hidden="true"></i>
    <input type="text" name="search" placeholder="Search for everything">
  </div>
  <ul id="service">
    <h3>SERVICES</h3>
    <li><i class="fa fa-compass" aria-hidden="true"></i><a href="/news">NEWS</a></li>
    <li><i class="fa fa-camera" aria-hidden="true"></i>PHOTOGRAPHY</li>
    <li><i class="fa fa-youtube-play" aria-hidden="true"></i>VEDIO</li>
    <li><i class="fa fa-suitcase" aria-hidden="true"></i>TRAVEL</li>
    <li><i class="fa fa-map-o" aria-hidden="true"></i>ADVENTURE</li>
    <li><i class="fa fa-child" aria-hidden="true"></i>KIDS</li>
    <li><i class="fa fa-tree" aria-hidden="true"></i>ENVIROMENT</li>
  </ul>
  <ul id="account">
    <h3>ACCOUNT</h3>
    <li><i class="fa fa-user-plus" aria-hidden="true"></i>JOIN</li>
    <li><i class="fa fa-sign-in" aria-hidden="true"></i>LOG IN</li>
  </ul>
  <div id="AD">
    <img id="cover" src="/resources/cover.jpg">
    <div>
      <h3>Subscribe</h3><p>National Geographic Magzine<br>Order Now</p>
    </div>
  </div>
  <div id="social">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </div>
</nav>